@model BusinessLogic.Product

<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="Id"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Id
    </dd>
    <dt class="col-sm-2">
        <label asp-for="Name"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Name
    </dd>
    <dt class="col-sm-2">
        <label asp-for="ProductCategory"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.ProductCategory
    </dd>
    <dt class="col-sm-2">
        <label asp-for="UnitOfMeasure"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.UnitOfMeasure
    </dd>
</dl>
